<h1>ユーザー一覧</h1>

<table border="1">
    <tr>
        <th>
            ID
        </th>
        <th>
            名前
        </th>
    </tr>
    
    <% @users.each do |user| %>
        <tr>
            <th>
                <%= user.id %>
            </th>
            <th>
                <%= user.name %>
            </th>
        </tr>
    <% end %>
    
</table>

